@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply it globally */
/* body {
  font-family: "Goudos", sans-serif;
} */

@font-face {
  font-family: "Goudos";
  src: url("./assets/fonts/GOUDOS.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
